body {
  background-color: hsl(210, 10%, 32%);
  color: hsl(0, 0%, 87%);
  font-size: 18px;
}
.content {
  max-width: 570px;
  margin: auto;
  margin-top: 150px;
}
p {
  line-height: 1.5em;
}
ul {
  padding-inline-start: 0px;
  line-height: 1.7em;
}
li {
  display: flex;
  font-weight: bold;
}
a {
  color: hsl(344, 100%, 83%);
  text-decoration: none;
}
a::after {
  content: "";
  display: block;
  position: initial;
  margin: 0 auto;
  height: 2px;
  width: 0;
  background: transparent;
  transition: width 0.66s ease, background-color 1s ease !important;
}
a:hover::after {
  width: 100%;
  background: hsl(0, 0%, 87%);
}
