body {
  background-color: hsl(210, 10%, 32%);
  color: hsl(0, 0%, 87%);
  font-family: sans-serif;
  font-size: 18px;
}
.content {
  max-width: 570px;
  margin: auto;
  margin-top: 150px;
}
p {
  line-height: 1.5em;
}
ul {
  padding-inline-start: 20px;
  line-height: 1.7em;
}
li {
  font-weight: bold;
}
li:hover {
  color: hsl(344, 100%, 83%);
}
a {
  color: hsl(344, 100%, 83%);
  text-decoration: none;
}
