body {
  background-color: hsl(210, 10%, 32%);
  color: hsl(0, 0%, 87%);
  font-size: 18px;
}
.content {
  max-width: 600px;
  margin: auto;
  top: 150px;
}
ul {
  padding-inline-start: 20px;
  line-height: 1.5em;
}
a {
  color: hsl(344, 100%, 83%);
  text-decoration: none;
  font-weight: bold;
}
a:after {
  content: "";
  display: block;
  position: initial;
  margin: auto;
  margin-top: 3px;
  height: 1px;
  width: 0;
  background: transparent;
  transition: width 1s ease, background-color 1s ease !important;
}
a:hover:after {
  width: 100%;
  background: hsl(0, 0%, 87%);
}
